/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    }

    .clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Open Sans', sans-serif;
}



header {
    width:90%;
    height:50px;
    background-color:white;
    margin: 15px auto;
    
    margin-bottom: 100px;
    
    
}
.top {
    width:700px;
    height:300px;
    margin:0 auto;
    background-color: rgba(225,214,122,255);
    margin-bottom:15px;
}

main {
    width:700px;
    height:400px;
    margin:0 auto;
    background-color: rgba(2,134,255,255);
    margin-bottom:10px;
}

.header {
    width:700px;
    height:100px;
    margin:0 auto;
    background-color: rgba(171,207,231,255);
    margin-bottom:10px;
    
}

aside {
    width: calc((30% - 10px) / 2);
    height: 330px;
    background-color: rgba(171,207,231,255);
    float: left;
}

article {
    width: calc(70% - 10px);
    height:330px;
    background-color: rgba(171,207,231,255);
    float: left;
    margin: 0 10px 20px 10px;
}

aside {
    width: calc((30% - 10px) / 2);
    height: 330px;
    background-color: rgba(171,207,231,255);
    float: left;
}

footer {
    width:700px;
    height:30px;
    margin:0 auto;
    background-color: rgba(136,1,254,255);
}

#logo {
    width:178px;
    height: 69px;
    text-align: left;
    border-right: 1px solid rgb(224, 223, 223);
    padding-right:15px;
    margin-bottom:15px;
    
    }

#nav li {
    display:inline;
    text-transform: uppercase;
    margin:3px;
    color:lightslategray;
    
    
}