/* RESET */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
/* FLOAT MANAGER */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body{
    
    font-family: 'Montserrat', sans-serif;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

header {
    margin-bottom:2rem;
}

footer{
    text-align:center;
    height:40px;
    margin-bottom:2rem;
}

.container{
    width:90%;
    margin:0 auto;
    max-width:1000px;
    min-width:600px;
}

.happy-radius{
    border-radius: 10px;
}

.relative{
    position:relative;
}

.img-wrapper{
    margin-bottom:2rem;
}

.overlay {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.2);
}

span.heart::after{
    content:"\2665";
    color:red;
    font-size: 1.5rem;
}

#main-logo img{
    height:60px;
    padding-right:20px;
    border-right:1px solid lightgray;
}

section#top-menu{
    margin:2.1rem 0;
}

section#top-menu ul li{
    display:inline;
    text-transform:uppercase;
    color:grey;
    text-decoration:none;
    font-size:1.1rem;
    margin-right:.7rem;
}

section#jumbotron{
    margin-bottom:2rem;
    
}

section#jumbotron img{
    width:100%;
    height:430px;
    object-fit:none;
    border-radius:10px;
}

section#jumbotron .jumbotron-text{
    position:absolute;
    top:280px;
    left:4rem;
    color:white;
    width:58%;

    }

.jumbotron-text h3{
    font-size: 1.5rem;
}

.jumbotron-text p{
    font:1.15rem;
}

section#content{
    margin-bottom:.5rem;
}

section#content header h1{
    font-size:2rem;
}

section#content header h4{
    color:gray;
    font-weight:300;
    font-size:1.1rem
}

section#content p{
    color:gray;
}

section#content aside,
section#content article{
    margin:1rem 0;
    float:left;
}

section#content aside{
    width:25%;
}

section#content article{
    width: calc(50% - 2rem);
    margin:1rem;
}

section#content img {
    width:100%;
    height:200px;
    object-fit:cover;
    position:center;
    margin-bottom: 2rem;
}